/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: verdana, sans-serif;
  font-size: 13px;
  color: black;
}

.container {
  margin: 30px;
  width: 100%;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 20px;
}

.top-sentence {
  margin: 24px;
}

.top-sentence p {
  margin-bottom: 24px;
}

table {
  margin: 8px;
  margin-bottom: 16px;
}

.new {
  margin: 4px;
  margin-top: 16px;
}

.new-submit {
  margin-top: 8px;
}

th, td {
  padding: 4px;
}

.show-item1, .show-item2 {
  display: flex;
  margin-left: 64px; 
}

.show-item1 {
  margin-top: 32px;
  margin-bottom: 36px;
}

.show-item2 {
  margin-bottom: 28px;
}

.show-link {
  margin-left: 32px;
}

.edit {
  
}